body {
  background-color: lightgreen

}

div {
  width:500px;
  height:500px;
}
p:hover {
  color:yellow;
}
footer:hover {
  color:yellow;
}
header {
    background: #BBBBBB;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
